@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.product-item {
  margin-bottom: 4rem;
}

.product-image {
  position: relative;
  display: block;

  img {
    width: 100%;
    background-size: cover;
    border-radius: 2.4rem;
  }

  &:hover {
    .add_to_cart_button,
    .product-addcart__overlay {
      opacity: 1 !important;
    }
  }
}

.product-addcart__overlay {
  position: absolute;
  inset: 0;
  border-radius: 2.4rem;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.5s linear;
}

.product-addcart__icon {
  font-size: 1.8rem;
  margin-right: .8rem;
}

.product-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-price {
  font-size: 2.4rem;
  font-weight: 700;
  color: $primaryColor;
}

.product-looknow {
  padding: .5rem 3rem;
  width: 100%;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  border-radius: 1.4rem;
  color: #fff;
  background-color: $primaryColor;
  border: none;
  outline: none;

  &:hover {
    background-color: $primaryColor;
  }
}

.product-list {
  .product-item {
    a {
      display: block;
      width: 100%;
      max-width: 20rem;
    }
  }
}
