@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.faq {
  margin: 0 auto;
  max-width: 85rem;

  .accordion-button {
    font-weight: 600;
    background-color: $primaryColor;
    color: #fff;

    &:after {
      background-image: $accordion-button-icon !important;
    }

    &:not(.collapsed)::after {
      background-image: $accordion-button-icon !important;
    }
  }
}
