@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	height: 100%;
  font-size: 62.5%;
  overflow-y: scroll;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  font-family: $primaryFont;
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  line-height: 1.5;
  color: $greyColor;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.5);
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
p::selection,
span::selection,
img::selection,
label::selection,
li::selection,
button::selection,
input::selection,
bdi::selection {
  color: #fff;
  background-color: $primaryColor;
}

.zek-web a:hover {
  color: $primaryColor;
}

h1,
h2,
h3,
h4,
h5,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
  transition: all 0.25s linear;
  cursor: pointer;
}

p:empty {
  display: none;
}

.full-width {
  width: calc(100vw - 3px);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.no-gap-row {
  margin-right: 0;
  margin-left: 0;
  
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

// Mixin for multi-line text truncation
.multi-line-1 {
  @include limitLine(1);
}

.multi-line-2 {
  @include limitLine(2);
}

.multi-line-3 {
  @include limitLine(3);
}

.multi-line-4 {
  @include limitLine(4);
}

.heading,
.woocommerce-products-header__title.page-title {
  margin-bottom: 3rem;
  font-size: clamp(2.4rem, 2.5vw, 3.2rem);
  font-weight: 700;
  text-transform: uppercase;
  color: $primaryColor;
}

.heading-orange {
  margin-bottom: 3rem;
  font-size: clamp(2.4rem, 2.5vw, 3.2rem);
  font-weight: 700;
  text-transform: uppercase;
  color: $orangeColor;

  a {
    color: $orangeColor;

    &:hover {
      color: $primaryColor !important;
    }
  }
}

.title {
  margin: 0 auto 2rem;
  margin-bottom: clamp(1rem, 2.5vw, 1.5rem);
  font-size: clamp(1.8rem, 2.5vw, 2.6rem);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: $greyColor;

  a:hover {
    color: $primaryColor;
  }
}

.description {
  margin-bottom: 2rem;
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
  font-weight: 400;
  line-height: 1.2;
  color: $greyColor;
  text-align: justify;

  &.fs-2 {
    font-size: clamp(1.4rem, 2.5vw, 2rem);
  }
}

.image {
  width: 100%;
  background-size: cover;
}

figure {
  height: 100%;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.page-body {
  padding-bottom: 4rem;
}

.title-orange {
  margin-bottom: 2rem;
  font-size: clamp(2.4rem, 3vw, 3.2rem);
  font-weight: 700;
  color: $orangeColor;
}

.orange-color {
  color: $orangeColor;
}

.detail-head .single_add_to_cart_button.yellow-color {
  background-color: $yellowColor !important;
}


.single-product {
  .detail-body {
    img {
      width: auto;
      max-width: 100%;
    }

  }

  .price {
    span.woocommerce-Price-amount,
    span.woocommerce-Price-currencySymbol {
      font-size: clamp(2rem, 2.5vw, 4rem);
      color: $orangeColor;
    }

    span {
      color: #000;
      font-size: clamp(1.8rem, 2.5vw, 2.4rem);
      font-weight: 600;
    }
  }

  .detail-head a.button {
    height: auto;
    padding: .85rem;
  }

  
}

.pagination {
  padding: 2rem 0 0;
}
