@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.health-blog {
    &:not(:last-child) {
        margin-bottom: 15px;
    }

    img {
        aspect-ratio: 156/105;
    }
}

.category  {
  .first-post {
      img {
        aspect-ratio: 439/290;
      }

      .title {
        margin-top: 3rem;
        margin-bottom: 1rem;
    
        @include mediaMaxWidth($md) {
          margin-top: 1.5rem;
        }
      }
  }

  .title {
    @include mediaMaxWidth($xl) {
      margin-top: 1.5rem;
    }

    @include mediaMaxWidth($lg) {
      margin-top: 1rem;
    }

  }
}