@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.health-blog {
    &:not(:last-child) {
        margin-bottom: 15px;
    }

    .title {
        font-size: clamp(1.8rem, 2.5vw, 2.4rem);
        margin-bottom: clamp(1rem, 2.5vw, 2rem);

        @include mediaMaxWidth(992px) {
            margin-top: clamp(1rem, 2.5vw, 2rem);
        }
    }
    
    img {
        aspect-ratio: 156/105;
    }
}

.category  {
    .first-post {
        img {
            margin-bottom: clamp(1rem, 2.5vw, 2rem);
            aspect-ratio: 439/290;
        }
    }
}