@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.detail-head {
  .product_title.entry-title {
    font-size: clamp(2.5rem, 2vw, 4.5rem);
    line-height: 1.2;
    font-weight: 600;
    color: $primaryColor;
  }

  .woo-variation-product-gallery {
    max-width: 100% !important;
    margin: 0 auto 2rem;
  }
  
  .woo-variation-product-gallery {
    float: none;
    display: block;
  }

  .highlight {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    line-height: 1.2;
    font-weight: 400;
  }

  .quantity.buttons_added {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryColor;
    border-radius: 1rem;

    input {
      border: none;
      background-color: transparent;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input[type="number"] {
      padding: 0;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      border-radius: 0;
    }
    
    input[type="button"] {
      padding: 0 .5rem;
      &.minus {
        padding: 0 .7rem;
      }
    }
  }

  .single_add_to_cart_button {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    display: block !important;
    background-color: $orangeColor !important;
    border-radius: 1rem !important;
    color: #fff !important;
    font-size: clamp(1.3rem, 2vw, 2.4rem);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  a.button {
    height: 5rem;
    span {
      width: 100% !important;
      min-width: fit-content !important;
    }
  }

  .support {
    gap: clamp(2rem, 2vw, 4rem);
    border: 1px solid #363636;
    border-radius: 1rem;
    padding: 2rem;


    .support-item {
      figure {
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          object-fit: contain;
          height: 100%;
        }
      }

      span {
        margin-top: 1rem;
        display: block;
        font-size: clamp(1.3rem, 2vw, 1.5rem);
        line-height: 1.2;
        font-weight: 600;
      }
    }
  }
}

.detail-body {
  padding: 3rem 0;
  .ftwp-in-post {
    float:left !important;
    width: 30% !important;
  }
  #ftwp-container.ftwp-wrap #ftwp-header {
    padding-left: 0 !important;
  }

  #ftwp-header-control {
    display: none !important;
  }

  #ftwp-contents {
    border: none !important;

    header {
      background: none !important;
    }
  }

  #ftwp-list {
    background: none !important;
  }

  #ftwp-container.ftwp-wrap #ftwp-list .ftwp-text::before {
    background: #D9D9D9 ;
  }

  #ftwp-container #ftwp-list.ftwp-list-nest.ftwp-colexp-icon .ftwp-anchor {
    padding: 1rem 3rem 1rem 1rem !important;
  }

  #ftwp-container #ftwp-list.ftwp-strong-first.ftwp-liststyle-decimal>.ftwp-item>.ftwp-anchor::before {
    display: none !important;
  }
}