@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.product-image {
  .added_to_cart  {
    display: none !important;
  }

  .add_to_cart_button {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    padding: .8rem 1.6rem !important;
    transform: translate(-50%, -50%) !important;
    font-size: clamp(1.4rem, 2.5vw, 2rem) !important;
    line-height: 1.2 !important;
    text-align: center !important;
    border-radius: 1rem !important;
    color: #fff !important;
    background-color: $orangeColor !important;
    border: none !important;
    outline: none !important;
    z-index: 1 !important;
    opacity: 0 !important;
    transition: all 0.5s linear !important;
    width: fit-content !important;
    min-width: max-content;

    &:hover {
      background-color: $orangeColor !important;
    }
  }
} 


  .button {
    margin: 0 auto;
    padding: 1rem 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s linear;

    @include mediaMaxWidth(992px) {
      padding: .5rem 1.5rem;
    }

    &.rdu-3 {
      border-radius: 3rem !important;
      border-style: solid !important;
      border-width: 1px !important;
    }

    &.rdu-2 {
      border-radius: 2rem !important;
      border-style: solid !important;
      border-width: 1px !important;
    }

    &.rdu-1 {
      border-radius: 1rem !important;
      border-style: solid !important;
      border-width: 1px !important;
    }

    i {
      margin-left: .5rem;
    }

    &.blue-btn {
      background-color: $primaryColor !important;
      color: #fff !important;

      &:hover {
        opacity: 0.8 !important;
      }
    }

    &.black-btn {
      background-color: #000 !important;
      color: #fff !important;
      
      &:hover {
        opacity: 0.8 !important;
      }
    }

    &.red-btn {
      background-color: #D0011B !important;
      color: #fff !important;

      &:hover {
        opacity: 0.8 !important;
      }
    }

    &.img-btn {
      img {
        width: 100% !important;
        max-width: 3rem !important;
        height: auto !important;
        max-height: 3rem;
      }
    }

  }

  .add_to_cart_button,
  .buy-now-button {
    margin: 0;
    padding: .8rem 2rem;
    width: 100%;
    min-width: max-content;
    max-width: 18.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: clamp(1.3rem, 3vw, 1.6rem);
    font-weight: 600;
    line-height: 1;
    color: #fff;
    border-radius: 1rem;

    &:hover {
      color: #fff;
      opacity: 0.8;
    }

    @include mediaMaxWidth(992px) {
      min-width: unset;
      text-align: center;
    }
  }

  .add_to_cart_button {
    background-color: $primaryColor;
  }

  .buy-now-button {
    width: fit-content;
    background-color: $orangeColor;

    img {
      width: 100%;
      max-width: 2.5rem;
      height: auto;
    }
  }