@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.loop-post {
  figure {
    margin-bottom: 2rem;
    border-radius: 3rem;
    overflow: hidden;
    @include mediaMaxWidth($lg) {
      margin-bottom: 1rem;
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 439 / 290;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .title {
    margin-bottom: 2rem;

    @include mediaMaxWidth($lg) {
      margin-bottom: 1rem;
    }
  }

  &.ratio-3-2 {
    img {
      aspect-ratio: 352 / 233;
    }
  }
}

