@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

.sidebar {
  width: 100%;
}

.hotnews {
  margin-bottom: 3rem;

  .hotnews-head {
    height: 4rem;
    text-align: center;
    background-color: $primaryColor;

    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 4.4rem;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  .hotnews-body {
    padding: 1rem 2rem;
    background-color: $bgColor;

    ul li {
      list-style-type: none;
      font-size: 1.6rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .hotnews-icon {
      font-size: 1.6rem;
      color: $primaryColor;
      margin-right: 1rem;
    }
  }
}

.consultation-form {
  margin-bottom: 3rem;

  .consultation-form__head {
    height: 4rem;
    text-align: center;
    background-color: $primaryColor;

    h3 {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 4.4rem;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  .consultation-form__body {
    padding: 2rem 3rem;
    background-color: $bgColor;

    input,
    textarea {
      padding-left: 2rem;
      font-size: 1.8rem;
      color: #000;
      border: 0.5px solid #8b8b8b;
      border-radius: 1rem;
      margin-bottom: 2rem;

      &::placeholder {
        color: #000;
      }
    }

    textarea {
      height: 130px;
      resize: none;
    }

    .button-submit {
        padding: .8rem 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        border-radius: 1rem;
        color: #fff;
        background-color: #045595;
        border: none;
        outline: none;
    }
  }
}

.videofasthealz {
    .videofasthealz-head {
        height: 4rem;
        text-align: center;
        margin-bottom: 2rem;

        h3 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 4.4rem;
        color: $primaryColor;
        text-transform: uppercase;
        margin-bottom: 0;
        }
    }

    .videofasthealz-item {
        width: 100%;
        height: 260px;
        border-radius: 1.6rem;
        background-color: $primaryColor;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}
